#root {
  max-width: 1980px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
  background-image: url('https://t3.ftcdn.net/jpg/06/27/99/10/240_F_627991094_HS3Dd2lMQW32KvSQx6JGhbyJpnmrjMrc.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  height: 100vh; 
  padding: 0; 
  overflow: hidden; 
}
.body {
  margin: 0;
  padding: 0;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0077b6;
  font-size: 100px;
  color: #ffffff;
  font-family: 'Courier New', Courier, monospace;
}

.nav-tabs .nav-item .nav-link {
  background-color: #0077b6;
  color: #ffffff;
  font-family: 'Courier New', Courier, monospace;
  
}

.nav-tabs .nav-item .nav-link.active {
  color: #000000;
}



.navPillsStyles {
  font-size: '40px';
  padding: '10px 20px';
};


form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9;
}


label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
}


input[type="text"],
input[type="email"],
textarea {
  width: 75%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}


button {
  background-color: #007BFF;
  color: #240909;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}


button :hover {
  background-color: #0056b3;
}


.nav-tabs-lg {
  font-size: 50px;
  padding: 10px; 
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa; 
  padding: 10px; 
  text-align: center;
}

.resume-container {
  width: 100%; 
  max-width: 100%; 
  margin: 0 auto; 
  padding: 20px; 
  overflow-y: auto; /* Add vertical scrolling when content exceeds the container height */
  max-height: 80vh; /* Set a maximum height (adjust as needed) */
}

.resume-content {
  background-color: #fff; 
  border: 1px solid #ddd; 
  border-radius: 5px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.button-text-color {
  color: #000000; 
}
.portfolio-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.project-links {
  flex: 1; 
  overflow-y: scroll; 
}


.footerReach {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}






