#root {
  max-width: 1980px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
  background-image: url('https://t3.ftcdn.net/jpg/06/27/99/10/240_F_627991094_HS3Dd2lMQW32KvSQx6JGhbyJpnmrjMrc.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  height: 100vh; 
  padding: 0; 
  overflow: hidden; 
}
.body {
  margin: 0;
  padding: 0;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0077b6;
  font-size: 100px;
  color: #ffffff;
  font-family: 'Courier New', Courier, monospace;
}

.nav {
  position: center;
  background-color: #05324a;
  font-family: 'Courier New', Courier, monospace;
  justify-content: center;
  border: 2px solid #000000; 
  border-radius: 10px; 
  color: #ffffff;

}

.nav-container {
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 15%;
  background-color: #05324a;
  padding: 10px; 
  text-align: center;
  border: 3px solid #000000; 
  border-radius: 10px;
  box-sizing: border-box; 
}


form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9;
}


label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
}


input[type="text"],
input[type="email"],
textarea {
  width: 75%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}


button {
  background-color: #007BFF;
  color: #240909;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}


button :hover {
  background-color: #0056b3;
}






.resume-container {
  width: 100%; 
  max-width: 100%; 
  margin: 0 auto; 
  padding: 20px; 
  overflow-y: auto;
  max-height: 80vh; 
}

.resume-content {
  background-color: #fff; 
  border: 1px solid #ddd; 
  border-radius: 5px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.button-text-color {
  color: #000000; 
}
.portfolio-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-top: 10%;
}

.project-links {
  flex: 1; 
}


.footerReach {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.project-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.project-card {
  width: 20rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-card img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ccc;
}

.project-card a {
  display: block;
  text-decoration: none;
  padding: 10px;
}

.project-card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}



